body,
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(#222, black);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

strong {
  font-weight: bold;
  /* Establece el peso de la fuente en negrita */
}

.container-0 {
  position: absolute;
  top: 0;
  width: 80%;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 3;
  margin-top: 50px;
}
.container-2 {
  margin: 0px 20px;
  width: 50%;
  border: 3px solid yellow;
  border-radius: 2px;

}
.container-3 {
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;

}
.container-3 img {
  width: 40%;
  height: auto;
  border: 3px solid yellow;
  border-radius: 2px;
}
.container-link {
  background-color: rgba(0, 0, 0, 0.7);
  /* Color de fondo del contenedor */
  padding: 30px 100px;
  /* Espacio interno */
  border: 4px solid yellow;
  /* Borde sólido con color azul */
  border-radius: 30px;
  /* Borde redondeado */
  max-width: 50%;
  /* Ancho máximo del contenedor */
  font-size: 30px;
  color: yellow;
}
.container-4{
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-right: 20%;
  height: auto;
}
.container-text {
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo del contenedor */
  padding: 10px 20px;
  /* Espacio interno */
  border: 3px solid yellow;
  /* Borde sólido con color azul */
  border-radius: 15px;
  /* Borde redondeado */
  max-width: 80%;
  /* Ancho máximo del contenedor */

}

.container-text p {
  color: white;
  text-align: justify;
  /* Alinea el texto a la derecha */
  text-justify: inter-word;
  font-size: 22px;
  /* Tamaño de fuente */
  line-height: 1.4;
  /* Altura de línea */

}
.container-5 {
  display: flex; justify-content: center; align-items: center; width: 50%;
}

@media screen and (max-width: 900px) {
      .container-link {
          width: 50px;
          padding: 8px 16px;
          font-size: 14px;
      }
  }

@media screen and (max-width: 500px) {
      .container-link {
        width: 20%;
          padding: 5px 10px;
          font-size: 12px;
      }
  }

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: yellow;
  animation: moveStar 5s ease-in infinite;
}

.star.linear {
  animation: moveStarLinear 5s linear infinite;
}

.star.ease-in {
  animation: moveStarEaseIn 5s ease-in infinite;
}

.star.ease {
  animation: moveStarEase 5s ease infinite;
}

.star.ease-out {
  animation: moveStarEaseOut 5s ease-out infinite;
}

@keyframes moveStarLinear {
  0% {
    transform: translateY(120vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseIn {
  0% {
    transform: translateY(120vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEase {
  0% {
    transform: translateY(120vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseOut {
  0% {
    transform: translateY(120vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}