html body {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#222, black);
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
}
strong {
  font-weight: bold;
}
#top-div {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111111;
  z-index: 100;
  display: flex;
  margin: 0;
  padding: 0.2% 0;
  justify-content: space-between;
}
#top-left-div {
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}
#top-right-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}
.container-0 {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 6% auto;

}

.container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%
}

.container-2 {
  margin:0 auto;
  text-align: center;
}
.container-text {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border: 2px solid green;
  border-radius: 30px;
  height: fit-content;
}
.container-text p {
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  line-height: 1.4;
}
.container-text ul{
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  line-height: 1.4;
}

.video {
  border: 3px solid green;
  border-radius: 5px;
  margin-top: 5%;
  width: auto;
  height: auto;
  max-height: 100%;
}
.video-2 {
  width: 540px;
  height: 360px;
  border: 3px solid green;
  border-radius: 5px;
}

@media (max-width: 568px) {
  .container-text p {
    font-size: 12px;  
  }
}
.btn-0 {
  background-color: #111;
  color: white;
  border: 4px solid green;
  padding: 10px 30px;
  border-radius: 40px;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  font-family: "Lucida Console";
  font-size: 18px;
  letter-spacing: 0px;
  transition: color background-color 0.2s;
}
.btn-0:hover {
  background-color: #222;
  color: green;
  border-color: green;
}
.btn-0:focus {
  background-color: black;
  color: green;
  border-color: green;
}
.btn-0:active {
  background-color: #333;
  color: rgb(0, 49, 0);
  border-color: rgb(0, 49, 0);
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: green;
  animation: moveStar 5s ease-in infinite;
}

.star.linear {
  animation: moveStarLinear 5s linear infinite;
}

.star.ease-in {
  animation: moveStarEaseIn 5s ease-in infinite;
}

.star.ease {
  animation: moveStarEase 5s ease infinite;
}

.star.ease-out {
  animation: moveStarEaseOut 5s ease-out infinite;
}

@keyframes moveStarLinear {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseIn {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEase {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseOut {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}