html body {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#222, black);
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
}
strong {
  font-weight: bold;
}
#top-div {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111111;
  z-index: 100;
  display: flex;
  margin: 0;
  padding: 0.2% 0;
  justify-content: space-between;
}
#top-left-div {
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}
#top-right-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.white-line {
  height: 2px;
  background-color: white;
}
.container-0 {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 6% auto;

}

.container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%
}

.container-2 {
  display: flex;
  max-width: 50%;
  margin: 0 10%;

}
.container-2 img {
  width: 105px;
  height: 138px;
  border: 6px solid cyan;
  border-radius: 50px;
}
.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.container-text-2 {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo del contenedor */
  padding: 0px 20px;
  /* Ancho máximo del contenedor */
  border: 2px solid cyan;
  border-radius: 30px;

}
.container-text-2 p {
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  line-height: 1.4;
}
.container-text {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 150px;
  border: 5px solid cyan;
  border-radius: 30px;

}

.container-text h1 {
  color: white;
  text-align: center;
  text-justify: inter-word;
  font-size: 26px;
  line-height: 1.4;
}
.container-text h2{
  color: white;
  text-align: center;
  text-justify: inter-word;
  font-size: 20px;
  line-height: 1.4;

}

@media (max-width: 568px) {
  .container-text p {
    font-size: 12px;  
  }
}
.btn-0 {
  background-color: #111;
  color: white;
  border: 4px solid cyan;
  padding: 10px 30px;
  border-radius: 40px;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  font-family: "Lucida Console";
  font-size: 18px;
  letter-spacing: 0px;
  transition: color background-color 0.2s;
}
.btn-0:hover {
  background-color: #222;
  color: cyan;
  border-color: cyan;
}
.btn-0:focus {
  background-color: black;
  color: cyan;
  border-color: cyan;
}
.btn-1 {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Hace que el botón sea circular */
  background-color: cyan;
  color: white;
  border: 4px solid 111;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  font-family: "Lucida Console";
  letter-spacing: 0px;
  transition: color background-color 0.2s;
  text-align: center;
  font-size: 24px;
}
.btn-1:hover {
  background-color: #222;
  color: cyan;
  border-color: cyan;
}
.btn-1:focus {
  background-color: black;
  color: cyan;
  border-color: cyan;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: cyan;
  animation: moveStar 5s ease-in infinite;
}

.star.linear {
  animation: moveStarLinear 5s linear infinite;
}

.star.ease-in {
  animation: moveStarEaseIn 5s ease-in infinite;
}

.star.ease {
  animation: moveStarEase 5s ease infinite;
}

.star.ease-out {
  animation: moveStarEaseOut 5s ease-out infinite;
}

@keyframes moveStarLinear {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseIn {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEase {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}

@keyframes moveStarEaseOut {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(-100vh);
  }
}